<% @questions.each do |q| %>
 <div class="booyah-box col-xs-10 col-xs-offset-1">
    <h4><%= q.category %></h4>
    <br>
    <h4><%= link_to q.question, question_path(q.id) %></h4>
    <br>
 </div>
<% end %>